@charset "UTF-8";
/*
 * ::::::::::: RTL Styles :::::::::::
 */
body.rtl {
  /* base styles */
  direction: rtl;
  text-align: right;
  /* custom styles */
}

body.rtl .control {
  text-align: right;
}

body.rtl .has-text-left {
  text-align: right !important;
}

body.rtl .has-text-right {
  text-align: left !important;
}

body.rtl * {
  letter-spacing: 0 !important;
}

body.rtl header .main-navigation li {
  float: right;
}

body.rtl h1,
body.rtl h2,
body.rtl h3,
body.rtl h4 {
  font-family: 'sky-bold', 'Poppins', sans-serif;
}

body.rtl .footer-social-links,
body.rtl .header-menu-icons.social,
body.rtl .team-social-links,
body.rtl code[class*="language-"],
body.rtl pre[class*="language-"],
body.rtl pre,
body.rtl code,
body.rtl .timeline {
  direction: ltr;
}

body.rtl header .main-navigation > ul > li {
  font-size: 16px;
}

body.rtl:not(.menu-left) header .main-navigation.left > ul > li:first-child a {
  padding-right: 0;
  padding-left: 18px;
}

body.rtl header .main-navigation li ul li,
body.rtl header .main-navigation li.mega-menu > ul > li > ul > li {
  font-size: 13px;
}

body.rtl:not(.header-side-navigation) header .main-navigation li:not(.mega-menu) ul {
  left: inherit;
  right: 0;
}

body.rtl:not(.header-side-navigation) header .main-navigation li:not(.mega-menu) ul li ul {
  right: 100%;
}

body.rtl:not(.header-side-navigation) header .main-navigation li.mega-menu > ul > li:after,
body.rtl:not(.header-side-navigation).header-hamburger-menu.slide-left header .level:last-child .main-navigation > ul > li.mega-menu > ul > li:after,
body.rtl:not(.header-side-navigation).header-hamburger-menu.slide-right header .level:last-child .main-navigation > ul > li.mega-menu > ul > li:after,
body.rtl:not(.header-side-navigation).header-side-navigation header .main-navigation > ul > li.mega-menu > ul > li:after,
body.rtl:not(.header-side-navigation).header-side-navigation.side-right header .main-navigation > ul > li.mega-menu > ul > li:after {
  right: inherit;
  left: 10%;
}

body.rtl header .main-navigation li.mega-menu > ul > li > a,
body.rtl header .main-navigation li.mega-menu > ul > li > span {
  font-size: 14.4px;
}

body.rtl header .main-navigation.right > ul > li:last-child a {
  padding-left: 18px;
  padding-right: 18px;
}

body.rtl .header-menu-icons.social {
  padding-left: 0;
  padding-right: 10px;
}

body.rtl .header-menu-icons.default li,
body.rtl .header-menu-icons.social li {
  padding-left: 0;
  padding-right: 10px;
}

body.rtl .header-menu-icons:before {
  left: inherit;
  right: 0;
}

body.rtl.submenu-show-arrow-right header .main-navigation li ul li.menu-right-icon > a:after {
  content: "\e605";
  right: inherit;
  left: 18px;
}

body.rtl.submenu-show-arrow-right header .main-navigation li ul li.menu-right-icon > a:hover:after {
  left: 12px;
}

body.rtl .header-menu-icons:not(.social) {
  padding-left: 0;
  padding-right: 8px;
}

body.rtl .header-menu-icons:not(.social) li {
  padding-left: 0;
  padding-right: 16px;
}

body.rtl .header-menu-icons:not(.social) li .icon {
  vertical-align: baseline;
}

body.rtl.header-sticky.hide-on-scroll header.hide-on-scroll .main-navigation > ul > li > a, body.rtl.header-sticky.hide-on-scroll header.show-on-scroll .main-navigation > ul > li > a, body.rtl.header-sticky.hide-on-scroll header.responsive-on-scroll .main-navigation > ul > li > a, body.rtl.header-sticky.show-on-scroll header.hide-on-scroll .main-navigation > ul > li > a, body.rtl.header-sticky.show-on-scroll header.show-on-scroll .main-navigation > ul > li > a, body.rtl.header-sticky.show-on-scroll header.responsive-on-scroll .main-navigation > ul > li > a {
  margin: 4px 0;
}

body.rtl .widget-form .button {
  right: inherit;
  left: 0;
}

body.rtl .icon i.icon-magnifier {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body.rtl .icon i.icon-phone {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body.rtl .search-form-overlay .widget-form input {
  padding-right: 0;
  padding-left: 1.5em;
}

body.rtl.header-menu-with-buttons header .button,
body.rtl.header-menu-with-icons header .button,
body.rtl.header-hamburger-menu header .button {
  margin-left: 0;
  margin-right: 10px;
}

@media screen and (min-width: 1472px) {
  body.rtl .quickview {
    right: inherit;
    left: -25%;
  }
}

@media screen and (min-width: 1280px) {
  body.rtl .quickview {
    right: inherit;
    left: -30%;
  }
}

@media screen and (min-width: 1088px) {
  body.rtl .quickview {
    right: inherit;
    left: -35%;
  }
}

@media screen and (min-width: 769px), print {
  body.rtl .quickview {
    right: inherit;
    left: -50%;
  }
}

body.rtl .quickview.is-active {
  right: inherit;
  left: 0;
}

body.rtl #quickviewInfo .quickview-body footer .widget-form input {
  padding-right: 1.5em;
  padding-left: 6.5em;
}

body.rtl .tp-caption {
  letter-spacing: 0 !important;
  text-align: right !important;
  font-weight: normal !important;
}

body.rtl .tp-caption.large_text {
  line-height: 1.4 !important;
  text-align: right !important;
}

body.rtl .tp-caption.large_text:first-letter {
  text-transform: lowercase !important;
}

body.rtl .tp-caption.small_text {
  font-family: 'sky', 'Poppins', sans-serif;
}

body.rtl .tp-caption.button, body.rtl .tp-caption.button-caption-2 {
  direction: ltr;
}

body.rtl .tp-caption.button .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body.rtl .button .icon:last-child:not(:first-child) {
  margin-right: 0.1875em;
  margin-left: calc(-0.375em - 1px);
}

body.rtl .works-button .button .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: -3px;
}

body.rtl .works-button .button .icon i {
  line-height: 1;
}

body.rtl .boxes-style-3 .box-item .media-left,
body.rtl .boxes-style-6 .box-item .media-left {
  margin-right: 0;
  margin-left: 1.7rem;
}

body.rtl .media-content {
  text-align: right;
}

body.rtl .testimonials .testimonials-item p:before {
  content: '”';
}

body.rtl .testimonials .testimonials-item p:after {
  content: '“';
}

body.rtl .testimonials .testimonials-item h3:before {
  margin-left: .6rem;
  margin-right: -2.7rem;
}

body.rtl .team.style-1 .team-member-meta {
  text-align: right;
}

body.rtl .team.style-1 .team-member-meta .team-social-links,
body.rtl .team.style-1 .team-member-meta .team-info {
  left: inherit;
  right: 0;
}

body.rtl .blog-post .entry-footer .button {
  padding-right: 0;
  padding-left: 22px;
}

body.rtl.footer-background.dark-color.widgets-6 footer.site-footer .widget-form input {
  padding-right: 0;
}

body.rtl.footer-background.dark-color.widgets-6 footer.site-footer .widget-form .button {
  right: inherit;
  left: -13px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body.rtl .widget-form input {
  padding-left: 3.5em;
}

body.rtl.footer-background.dark-color .footer-bottom-content .main-navigation.left li a {
  padding-right: 0;
  padding-left: 20px;
}

body.rtl .footer-bottom-content .main-navigation li {
  font-size: 15px;
}

body.rtl.footer-background.dark-color .footer-bottom-content .header-menu-icons.social li {
  padding-left: 0;
  padding-right: 18px;
}

body.rtl .floating_buttons .float,
body.rtl .floating_buttons ul {
  right: inherit;
  left: 30px;
}

body.rtl .floating_buttons.is-left .float,
body.rtl .floating_buttons.is-left ul {
  left: inherit;
  right: 30px;
}

body.rtl .header-menu-icons li > ul li img {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

body.rtl .header-menu-icons li > ul.dropdown-shopping-cart li .product-remove,
body.rtl .header-menu-icons li > ul.dropdown-user-account li .product-remove {
  right: inherit;
  left: 20px;
}

body.rtl .button .icon:first-child:not(:last-child) {
  margin-right: calc(-0.375em - 1px);
  margin-left: 0.1875em;
}

body.rtl .header-menu-icons li.dropdown-search-form ul li .button {
  right: inherit;
  left: 3px;
}

body.rtl .header-menu-icons li.dropdown-search-form ul li .button .icon i.icon-magnifier {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

body.rtl .nav-menu-dropdown .flag-icon {
  margin-right: 0;
  margin-left: 8px;
}

body.rtl .nav-menu-dropdown > li > a:after {
  right: inherit;
  left: 9px;
}

body.rtl .nav-menu-dropdown.style-2:before {
  left: inherit;
  right: 0;
}

body.rtl .nav-menu-dropdown.style-2 {
  padding-left: 0;
  padding-right: 7px;
}

body.rtl .nav-menu-dropdown > li {
  margin-left: 0;
  margin-right: 10px;
}

body.rtl .nav-menu-dropdown.style-2 > li > a:after {
  right: inherit;
  left: -2px;
}

body.rtl.header-logo-top header .main-navigation > ul > li:last-child > a,
body.rtl.header-menu-top header .main-navigation > ul > li:last-child > a {
  padding-right: 15px;
  padding-left: 0;
}

body.rtl.header-background-dark header .main-navigation > ul > li > a,
body.rtl.header-background-primary header .main-navigation > ul > li > a {
  padding: 17px 25px !important;
}

body.rtl.menu-show-arrow-down header .main-navigation li.menu-down-icon > a:after {
  right: inherit;
  left: 0;
}

body.rtl.header-menu-separator-dots header .main-navigation > ul > li:after {
  right: inherit;
  left: -5px;
}

body.rtl.header-menu-separator-line header .main-navigation > ul > li:after {
  right: inherit;
  left: -5px;
}

body.rtl.header-side-navigation.side-mini header .level.top .logo-text,
body.rtl.header-side-navigation.side-mini .site-header .level.top .logo-text {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

body.rtl.header-side-navigation.side-mini header .level.top .header-menu-icons li,
body.rtl.header-side-navigation.side-mini .site-header .level.top .header-menu-icons {
  padding-right: 0;
}

body.rtl.header-side-navigation.side-mini header .level.top .header-menu-icons li li,
body.rtl.header-side-navigation.side-mini .site-header .level.top .header-menu-icons li {
  padding-right: 0;
}

body.rtl .hamburger-menu {
  margin-left: 0;
  margin-right: 15px;
}

body.rtl.header-hamburger-menu.icon-left header .hamburger-menu {
  margin-right: 0;
  margin-left: 15px;
}

body.rtl.header-hamburger-menu.slide-right header .level:last-child {
  right: inherit;
  left: 0;
  margin-right: 0;
  margin-left: -252px;
  border-right: 1px solid rgba(245, 245, 245, 0.7);
  border-left: 0;
}

body.rtl.header-hamburger-menu.slide-right header .level:last-child.opened {
  margin-left: 0;
}

body.rtl.header-hamburger-menu.slide-right.slide-overlay header .header-fullwidth .hamburger-menu.expanded {
  right: inherit;
  left: 40px;
}

body.rtl.header-hamburger-menu.slide-right header .level:last-child .main-navigation > ul > li > ul {
  right: inherit;
  left: 100%;
}

body.rtl.header-hamburger-menu.slide-right header .level:last-child .main-navigation > ul > li > ul ul {
  right: inherit;
  left: 100%;
}

body.rtl.header-hamburger-menu.slide-right.slide-push.pushed {
  margin-right: 0;
  margin-left: 252px;
}

body.rtl.header-hamburger-menu.slide-right.overlay-full-width header .level:last-child {
  margin-right: 0;
  margin-left: -100%;
}

body.rtl.header-hamburger-menu.slide-right.overlay-full-width header .level:last-child.opened {
  margin-left: 0;
}

body.rtl.header-hamburger-menu.slide-left header .level:last-child {
  left: inherit;
  right: 0;
  margin-left: 0;
  margin-right: -252px;
  border-left: 1px solid rgba(245, 245, 245, 0.7);
  border-right: 0;
}

body.rtl.header-hamburger-menu.slide-left header .level:last-child.opened {
  margin-right: 0;
}

body.rtl.header-hamburger-menu.slide-left.slide-overlay header .header-fullwidth .hamburger-menu.expanded {
  left: inherit;
  right: 40px;
}

body.rtl.header-hamburger-menu.slide-left header .level:last-child .main-navigation > ul > li > ul {
  left: inherit;
  right: 100%;
}

body.rtl.header-hamburger-menu.slide-left header .level:last-child .main-navigation > ul > li > ul ul {
  left: inherit;
  right: 100%;
}

body.rtl.header-hamburger-menu.slide-left.slide-push.pushed {
  margin-left: 0;
  margin-right: 252px;
}

body.rtl.header-hamburger-menu.slide-left.overlay-full-width header .level:last-child {
  margin-left: 0;
  margin-right: -100%;
}

body.rtl.header-hamburger-menu.slide-left.overlay-full-width header .level:last-child.opened {
  margin-right: 0;
}

body.rtl.header-hamburger-menu.hamburger-menu-icon-background-color.primary-color header .hamburger-menu,
body.rtl.header-hamburger-menu.hamburger-menu-icon-background-color.dark-color header .hamburger-menu {
  margin-left: 0;
  margin-right: 0;
}

body.rtl .site-header-top .topbar-info li {
  margin-right: 0;
  margin-left: 10px;
}

body.rtl .site-header-top .topbar-info li .icon {
  margin-right: 0;
  margin-left: 4px;
}

body.rtl footer .widget-links ul li:before {
  content: "\e605";
  padding-right: 0;
  padding-left: 5px;
}

body.rtl .widget-instafeed .instafeed .instafeed-image {
  margin-right: 0;
  margin-left: 14px;
}

body.rtl footer .widget-links.links-with-icons ul li:before {
  content: '';
}

body.rtl footer .widget-links ul li .icon {
  margin-right: 0;
  margin-left: 7px;
}

body.rtl .box .media-left {
  margin-right: 0;
  margin-left: 1.5rem;
}

body.rtl .field.has-addons .control:first-child .button,
body.rtl .field.has-addons .control:first-child .input,
body.rtl .field.has-addons .control:first-child .select select {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

body.rtl .breadcrumb li:first-child a {
  padding-left: 0.75em;
  padding-right: 0;
}

body.rtl .pagination a.pagination-previous:before,
body.rtl .pagination a.pagination-next:after,
body.rtl .breadcrumb.has-arrow-separator li + li::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body.rtl .page-title .hero-body .button:first-child {
  margin-right: 0;
  margin-left: 3px;
}

body.rtl .parallax-mirror img.parallax-slider {
  margin-right: -100px;
}

body.rtl .breadcrumb .icon:first-child {
  margin-right: 0;
  margin-left: 0.5em;
  margin-top: -2px;
}

body.rtl .breadcrumb.has-arrow-separator li + li::before {
  margin-top: -5px;
}

body.rtl .field.has-addons .control:last-child .button,
body.rtl .field.has-addons .control:last-child .input,
body.rtl .field.has-addons .control:last-child .select select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

body.rtl .media-left {
  margin-right: 0;
  margin-left: 1rem;
}

body.rtl .flexslider {
  direction: ltr;
}

body.rtl .flexslider .slides .icon {
  margin-right: 0.1875em !important;
  margin-left: calc(-0.375em - 1px) !important;
  margin-top: 5px !important;
}

body.rtl .field-body > .field:not(:last-child) {
  margin-right: 0;
  margin-left: 1.6rem;
}

body.rtl .select select:not([multiple]) {
  padding-right: calc(0.625em - 1px);
  padding-left: 2.5em;
}

body.rtl .select:not(.is-multiple):not(.is-loading)::after {
  right: inherit;
  left: 1.125em;
}

body.rtl .field.is-grouped > .control:not(:last-child) {
  margin-right: 0;
  margin-left: 0.75rem;
}

body.rtl .select.is-loading::after {
  right: inherit;
  left: 0.625em;
}

body.rtl .file-name {
  border-width: 1px 0 1px 1px;
}

body.rtl .file.is-right .file-name {
  border-width: 1px  1px 1px 0;
}

body.rtl .blog-post .entry-footer .button:after {
  right: 90%;
  top: -2px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body.rtl .owl-carousel.navs .owl-nav .owl-next {
  left: 0;
}

body.rtl .owl-carousel.navs .owl-nav .owl-prev {
  right: inherit;
  left: 2.8%;
}

body.rtl .accordions .beefup .beefup__head:after,
body.rtl .accordions .beefup.is-open > .beefup__head:after {
  right: inherit;
  left: 24px;
}

@media screen and (min-width: 769px), print {
  body.rtl .column.is-offset-one-fifth,
  body.rtl .column.is-offset-one-fifth-tablet {
    margin-left: 0;
    margin-right: 20%;
  }
}

body.rtl .tabs .icon:first-child {
  margin-right: 0;
  margin-left: 0.5em;
  margin-top: -4px;
}

body.rtl .tabs.is-toggle.is-toggle-rounded li:first-child a {
  border-bottom-right-radius: 290486px;
  border-top-right-radius: 290486px;
  padding-right: 1.25em;
  padding-left: 1.2em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

body.rtl .tabs.is-toggle.is-toggle-rounded li:last-child a {
  border-bottom-left-radius: 290486px;
  border-top-left-radius: 290486px;
  padding-left: 1.25em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-right: 1.2em;
}

body.rtl .content ul li .icon,
body.rtl .content ol li .icon,
body.rtl .content ul.list-arrow-right li:before,
body.rtl .content ol.list-arrow-right li:before,
body.rtl .content ul.list-arrow-round-forward li:before,
body.rtl .content ol.list-arrow-round-forward li:before,
body.rtl .content ul.list-arrow-dropright li:before,
body.rtl .content ol.list-arrow-dropright li:before,
body.rtl .content ul.list-checkmark li:before,
body.rtl .content ol.list-checkmark li:before,
body.rtl .content ul.list-checkmark-circle-outline li:before,
body.rtl .content ol.list-checkmark-circle-outline li:before,
body.rtl .content ul.list-checkbox-outline li:before,
body.rtl .content ol.list-checkbox-outline li:before,
body.rtl .content ul.list-plus li:before,
body.rtl .content ol.list-plus li:before,
body.rtl .content ul.list-minus li:before,
body.rtl .content ol.list-minus li:before,
body.rtl .content ul.list-heart li:before,
body.rtl .content ol.list-heart li:before,
body.rtl .content ul.list-star li:before,
body.rtl .content ol.list-star li:before,
body.rtl .content ul.list-radio-button-on li:before,
body.rtl .content ol.list-radio-button-on li:before,
body.rtl .content ul.list-arrow-dropright-circle li:before,
body.rtl .content ol.list-arrow-dropright-circle li:before {
  padding-right: 0;
  padding-left: 6px;
}

body.rtl .content ul.style-2 li:before,
body.rtl .content ol.style-2 li:before {
  padding-right: 0;
  padding-left: 10px;
  border-right: 3px solid #000000;
  border-left: 0;
}

body.rtl .content ul.list-arrow-right li:before,
body.rtl .content ol.list-arrow-right li:before,
body.rtl .content ul.list-arrow-round-forward li:before,
body.rtl .content ol.list-arrow-round-forward li:before,
body.rtl .content ul.list-arrow-dropright li:before,
body.rtl .content ol.list-arrow-dropright li:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  padding-left: 0;
  padding-right: 8px;
}

@media screen and (min-width: 769px), print {
  body.rtl .column.is-offset-4,
  body.rtl .column.is-offset-4-tablet {
    margin-left: 0;
    margin-right: 33.33333%;
  }
  body.rtl .column.is-offset-3,
  body.rtl .column.is-offset-3-tablet {
    margin-left: 0;
    margin-right: 25%;
  }
}

body.rtl .pagination a.pagination-previous:before {
  padding-right: 15px;
  margin-left: -10px;
}

body.rtl .pagination a.pagination-next:after {
  padding-left: 15px;
  margin-right: -10px;
}

body.rtl .pagination-link {
  padding-bottom: calc(0.375em - 4px);
}

body.rtl .pagination a.pagination-previous {
  margin-right: 0;
  margin-left: 0.35rem;
}

body.rtl .pagination a.pagination-next {
  margin-left: 0;
  margin-right: 0.35rem;
}

body.rtl .tag:not(body) .delete {
  margin-right: 0.25rem;
  margin-left: -0.375rem;
}

body.rtl .counterup.style-1 .level-item {
  border-right: 0;
  border-left: 1px solid #EAEAEA;
}

body.rtl .counterup.style-1 .level-item:last-child {
  border-left: none;
}

body.rtl .counterup.style-3 .level-item .title {
  margin-right: 0;
  margin-left: 14px;
}

body.rtl .counterup.style-3 .level-item,
body.rtl .counterup.style-5 .level-item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body.rtl .counterup .title,
body.rtl .counterup .heading {
  margin: 1.8rem 0;
}

body.rtl .counterup.style-5 .level-item > div {
  border-right: 0;
  border-left: 1px solid #EAEAEA;
  text-align: center;
}

body.rtl .counterup.style-5 .level-item:last-child > div {
  border-left: none;
}

body.rtl .counterup.style-3.with-icons .level-item > div .icon {
  margin-right: 0;
  margin-left: 27px;
}

body.rtl .counterup.style-5.with-icons .level-item > div .icon {
  margin-right: 0;
  margin-left: 20px;
}

body.rtl .pricing-table.is-comparative .pricing-plan:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

body.rtl .pricing-table.is-comparative .pricing-plan:not(:last-child) {
  border-right: 1px solid #EAEAEA;
  border-left: none;
}

body.rtl .pricing-table.is-comparative .pricing-plan:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

body.rtl .box-item .icon i {
  line-height: 1;
}

body.rtl .box-item .button:after {
  right: 80%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body.rtl .boxes-style-4 .box-item .button {
  padding-left: 41px;
  padding-right: 23px;
}

body.rtl .boxes-style-4 .box-item .button:after {
  right: 64%;
}

body.rtl .boxes-style-4 .box-item .button:hover:after {
  right: 70%;
}

body.rtl .call-to-action.style-5 .heading {
  margin-right: 0;
  margin-left: 30px;
}

body.rtl .subscribe-form.style-2 .button {
  right: inherit;
  left: 0;
}

body.rtl .testimonials.columns-style-1 .testimonials-item {
  text-align: right;
}

body.rtl .testimonials.columns-style-1 .testimonials-item img {
  margin-right: 0;
  margin-left: 15px;
}

body.rtl .testimonials.style-5.owl-carousel.navs .owl-prev {
  right: inherit;
  left: 5.6%;
}

body.rtl .testimonials.style-5 .testimonials-item p:after {
  content: '';
  left: inherit;
  right: 10%;
}

body.rtl .content blockquote:not(.style-1):not(.style-2):not(.style-3):not(.style-4):not(.style-5) {
  border-left: 0;
  border-right: 4px solid #0063dd;
}

body.rtl .content blockquote span:before,
body.rtl .entry-content blockquote span:before {
  margin: 0 0 0 .5rem;
}

body.rtl .content blockquote.style-2:before,
body.rtl .entry-content blockquote.style-2:before {
  left: inherit;
  right: 0;
  content: "\f10e";
}

body.rtl .content blockquote.style-2,
body.rtl .entry-content blockquote.style-2 {
  border: none;
  padding-right: 3.2em;
  padding-left: 1.8em;
}

body.rtl .content blockquote.style-3,
body.rtl .entry-content blockquote.style-3 {
  padding: .4em 2.5em;
}

body.rtl .content .dropcaps:first-letter,
body.rtl .entry-content .dropcaps:first-letter {
  float: right;
  margin: 6px 0 0 15px;
}

body.rtl .buttons.has-addons .button:not(:last-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 290486px;
  border-top-right-radius: 290486px;
}

body.rtl .buttons.has-addons .button:not(:first-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 290486px;
  border-top-left-radius: 290486px;
}

body.rtl .progressbar:not(.circle) > svg {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

body.rtl .progressbar .progressbar-heading {
  text-align: right;
}

body.rtl .progressbar .progressbar-text {
  right: inherit;
  left: 0;
}

@media screen and (min-width: 769px), print {
  body.rtl .column.is-offset-one-quarter,
  body.rtl .column.is-offset-one-quarter-tablet {
    margin-left: 0;
    margin-right: 25%;
  }
}

body.rtl .notification {
  padding: 1.25rem 1.5rem 1.25rem 2.5rem;
}

body.rtl .notification > .delete {
  right: inherit;
  left: 0.7rem;
}

body.rtl .message .message-body {
  border-width: 0 4px 0 0;
}

body.rtl .message-header + .message-body {
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body.rtl .table td,
body.rtl .table th,
body.rtl table td,
body.rtl table th {
  text-align: right;
}

body.rtl .steps .step-item:not(:first-child)::before {
  left: inherit;
  right: -50%;
}

body.rtl .team .columns.is-4 .column.is-12 .team-member-meta > * {
  text-align: right;
}

body.rtl .works.isotope .isotope-filter li:first-child {
  padding-right: 0;
  padding-left: 18px;
}

body.rtl .works.isotope .isotope-filter li:last-child {
  padding-left: 0;
  padding-right: 18px;
}

body.rtl .works.isotope .isotope-filter.style-1 li {
  padding: 8px 20px;
}

body.rtl .portfolio-single .widget-links ul li .icon {
  margin-right: 0;
  margin-left: 2.5px;
}

body.rtl .owl-carousel.navs-gallery .owl-nav .owl-prev,
body.rtl .owl-carousel.navs-images .owl-nav .owl-prev {
  left: inherit;
  right: 1%;
}

body.rtl .owl-carousel.navs-gallery .owl-nav .owl-next,
body.rtl .owl-carousel.navs-images .owl-nav .owl-next {
  right: inherit;
  left: 1%;
}

body.rtl .blog-post .entry-header .post-meta ul li .icon {
  margin-right: 0;
  margin-left: 1px;
}

body.rtl .blog-post .entry-header .post-meta ul li {
  padding-right: 0;
  padding-left: 12px;
}

body.rtl .widget-social {
  direction: ltr;
}

body.rtl .widget-social ul li {
  padding-right: 0;
  padding-left: 10px;
}

body.rtl .widget-gallery ul li {
  margin-right: 0;
  margin-left: 10px;
}

body.rtl .sidebar {
  padding-left: 0;
  padding-right: 20px;
}

body.rtl .sidebar.is-left {
  padding-left: 20px;
  padding-right: 0;
}

body.rtl .blog-list.style-list .blog-post .entry-header,
body.rtl .blog-list.style-list .blog-post .entry-content,
body.rtl .blog-list.style-list .blog-post .entry-footer {
  padding-left: 35px;
  padding-right: 5px;
}

@media screen and (max-width: 1087px) {
  body.rtl.responsive-layout header .main-navigation li.menu-down-icon > span,
  body.rtl.responsive-layout header .main-navigation li.menu-right-icon > span {
    right: inherit;
    left: 28px;
  }
}

@media screen and (max-width: 768px) {
  body.rtl.responsive-layout.header-hamburger-menu header .level:first-child .level-left {
    float: right;
  }
  body.rtl.responsive-layout.header-hamburger-menu header .level:first-child .level-right {
    float: left;
  }
}

body.rtl .site-header-top .topbar-info li {
  margin-right: 0;
  margin-left: 15px;
  border-right: none;
  border-left: 1px solid #424754;
  padding-right: 0;
  padding-left: 20px;
}

body.rtl .site-header-top .topbar-info li:last-child {
  border-left: none;
}

body.rtl .site-header-top .header-menu-icons.social {
  padding-left: 10px;
}

body.rtl .nav-menu-dropdown.style-2.global-style > li > a > .icon {
  margin-right: 0;
  margin-left: 9px;
}

body.rtl .rev_slider .slider-scroll-down {
  direction: ltr;
  right: 14%;
  font-size: 13.5px;
}

body.rtl .hesperiden .tp-tab-content {
  font-family: 'sky', 'Poppins', sans-serif;
  text-align: right;
}

body.rtl .hesperiden .tp-tab-content .tp-tab-title {
  font-family: 'sky-bold', 'Poppins', sans-serif;
  text-align: right;
}

body.rtl .hesperiden .tp-tab.selected .tp-tab-content .icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  line-height: inherit;
}

body.rtl .welcome-section .blog-list.style-2 .blog-post .entry-footer .button:after {
  right: 85% !important;
}

body.rtl .tracking-section .subscribe-form .button .icon {
  margin-right: 15px;
}

body.rtl .tracking-steps-section .steps .step-item:not(:first-child)::before {
  left: inherit;
  right: -104%;
}

body.rtl .news-section .blog-post-heading {
  padding: 50px 48px;
}

body.rtl .news-section .blog-post-heading .button {
  padding-right: 0;
  padding-left: calc(2.8em - 1px);
}

body.rtl .news-section .blog-post-heading .button .icon {
  margin-left: 0;
  margin-right: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body.rtl .news-section .blog-list.style-2 .blog-post .entry-footer .button:after {
  right: 85% !important;
}

body.rtl .news-section .blog-post-heading .button {
  margin-top: 38px;
}

/*# sourceMappingURL=_maps/rtl.css.map */
